Source: erlang-p1-eimp
Priority: optional
Maintainer: Mathias Ertl <mati@jabber.at>
Build-Depends: debhelper (>= 9), dh-rebar, erlang-base, erlang-eunit, erlang-p1-utils (>= 1.0.10),
       erlang-syntax-tools,
 	libgd-dev, libjpeg-dev, libpng-dev, libwebp-dev
Standards-Version: 4.1.1
Section: libs
Homepage: https://github.com/processone/eimp
VCS-Git: https://github.com/jabber-at/eimp.git
VCS-Browser: https://github.com/jabber-at/eimp

Package: erlang-p1-eimp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, erlang-base | ${erlang-abi:Depends},
         ${erlang:Depends}, erlang-p1-utils (>= 1.0.10)
Breaks: erlang-p1-imp (<< 1.0.2)
Replaces: erlang-p1-imp (<< 1.0.2)
Provides: erlang-p1-imp
Description: Erlang application for manipulating graphic images
 This library is an Erlang application for manipulating graphic images using
 external C libraries. Currently it supports convertation between WebP, JPEG
 and PNG. It is used by ejabberd.

Package: erlang-p1-imp
Architecture: any
Depends: erlang-p1-eimp, ${misc:Depends}
Description: Erlang application for manipulating graphic images (transitional package)
 Transitional package for erlang-p1-eimp.
