Source: erlang-p1-imp
Section: libs
Priority: optional
Maintainer: Mathias Ertl <mati@jabber.at>
Build-Depends: debhelper (>= 9), dh-rebar, 
               erlang-base, erlang-eunit,
               erlang-p1-utils (>= 1.0.10),
Standards-Version: 4.1.1
Homepage: https://github.com/processone/eimp
VCS-Git: https://github.com/jabber-at/eimp.git
VCS-Browser: https://github.com/jabber-at/eimp

Package: erlang-p1-imp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, erlang-base | ${erlang-abi:Depends},
         ${erlang:Depends},
         erlang-p1-utils (>= 1.0.10),
Description: Erlang/Elixir image processing library
 Library for manipulating graphic images using external C libraries.
 It supports WebP, JPEG, PNG and GIF.
