#!/usr/bin/make -f
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/default.mk

DESTDIR=$(CURDIR)/debian/erlang-p1-imp


%:
	dh $@ --buildsystem=rebar --with rebar


override_dh_auto_build:
	make
	dh_auto_build


override_dh_auto_configure:
	./configure
	dh_auto_configure

override_dh_auto_install:
	### find all files
	find
	### end find
	dh_install priv/bin/* /usr/lib/erlang/p1_pam/bin/
	dh_auto_install

override_dh_auto_clean:
	rm -f config.log config.status
	dh_auto_clean
