#!/usr/bin/make -f
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/default.mk

DESTDIR=$(CURDIR)/debian/erlang-p1-imp


%:
	dh $@ --buildsystem=rebar --with rebar


override_dh_auto_test:
	# Explanation: https://github.com/processone/eimp/issues/3#issuecomment-333381071
	# This is just what "make test" currently does
	mkdir -p .eunit/priv/bin
	cp priv/bin/eimp .eunit/priv/bin/
	rebar -vv skip_deps=true eunit

override_dh_auto_configure:
	./configure
	dh_auto_configure

override_dh_auto_install:
	dh_install priv/bin/* /usr/lib/erlang/lib/p1_imp-$(DEB_VERSION_UPSTREAM)/priv/bin/
	dh_auto_install

override_dh_auto_clean:
	rm -f config.log config.status
	dh_auto_clean
